.left-item {
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    box-shadow: transparent;
    border: none;
}

.center-item {
    text-align: center;
}

.right-item {
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    box-shadow: unset;
}