.left-item {
    /* text-align: center; */
    color: var(--primary-text-color);
    font-size: 20px;
}

.margin-right {
    margin-right: 24px;
}

.outer-section {
    width: 20%;
}

.middle-section {
    width: 60%;
}

.center-item {
    text-align: center;
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: bold;
}

.right-item {
    text-align: center;
    color: var(--primary-text-color);
    font-size: 20px;
}

.action-bar {
    background-color: var(--primary-color);
}

.button {
    background-color: var(--primary-color);
}
