.left-item {
    text-align: center;
    color: var(--primary-text-color);
    font-size: 20px;
}

.center-item {
    text-align: center;
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: bold;
}

.right-item {
    text-align: center;
    color: var(--primary-text-color);
    font-size: 20px;
    width: 40;
}

.action-bar {
    background-color: var(--primary-color);
}

.button {
    background-color: var(--primary-color);
}
