<ScrollView class="body">
    <StackLayout orientation="vertical" class="form">

        <ns-text-field
            label="Store Name"
            [(value)]="store.storeName">
        </ns-text-field>

        <ns-text-area
            label="Description"
            [(value)]="store.description">
        </ns-text-area>

        <StackLayout horizontalAlignment="center" class="button-container">
            <button text="Update Store" (tap)="onSubmit()" class="button"></button>
        </StackLayout>
    </StackLayout>
</ScrollView>
