.recurrence-label {
    border-bottom-width: 2px;
    border-bottom-left-radius: 10;
    border-bottom-right-radius: 10;
    color: var(--primary-text-color);
    border-bottom-color: var(--secondary-text-color);
    width: 100%;
    text-align: center;
}

.shift {
    width: 80%;
    margin-top: 24px;
}
