<nsDrawer:RadSideDrawer [drawerTransition]="sideDrawerTransition">
	<GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
		<ScrollView row="1">
			<StackLayout class="sidedrawer-content">
				<StackLayout row="0" class="sidedrawer-header">
					<Label col="0" text="&#xf2bd;" class="fas fa-user-circle account-icon"></Label>
				</StackLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf015;" class="fas menu-icon"></Label>
					<Label col="1" text="Your Schedule" class="p-r-10 menu-label"></Label>
				</GridLayout>

				<GridLayout columns="auto, *" class="sidedrawer-list-item">
					<Label col="0" text="&#xf013;" class="fas menu-icon"></Label>
					<Label col="1" text="Settings" class="p-r-10 menu-label"></Label>
				</GridLayout>
			</StackLayout>
		</ScrollView>
	</GridLayout>

	<page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</nsDrawer:RadSideDrawer>
