<ScrollView orientation="vertical" class="body">
    <StackLayout orientation="vertical" width="100%">
        <!-- <FlexboxLayout orientation="horizontal" class="day-labels">
            <Label class="day-name-label border-right" text=""></Label>
            <Label class="day-name-label border-right" text="Su"></Label>
            <Label class="day-name-label border-right" text="Mo"></Label>
            <Label class="day-name-label border-right" text="Tu"></Label>
            <Label class="day-name-label border-right" text="We"></Label>
            <Label class="day-name-label border-right" text="Th"></Label>
            <Label class="day-name-label border-right" text="Fr"></Label>
            <Label class="day-name-label" text="Sa"></Label>
        </FlexboxLayout> -->
        
        <StackLayout *ngFor="let day of days" class="day">
            <Label
                text="day.name">
            </Label>
            <StackLayout class="shift-card">

            </StackLayout>
        </StackLayout>
      
      </StackLayout>
      
</ScrollView>