<ns-action-bar [title]="'Stores'" [showBackButton]="false"></ns-action-bar>

<StackLayout class="body">
    <ScrollView orientation="vertical">
        <StackLayout *ngFor="let store of stores" orientation="vertical" width="100%" height="200">
            <Label [text]="store.storeName"></Label>
        </StackLayout>
    </ScrollView>
</StackLayout>

<StackLayout class="button-container">
    <GridLayout #fabButton class="fab-button" (tap)="onCreateShiftTap()">
        <Label text="+" class="plus-sign"></Label>
    </GridLayout>
</StackLayout>
