.picker-button {
    color: var(--primary-text-color);
    width: 80;
    height: 40;
    font-size: 20px;
    background-color: white;
    border-radius: 100;
}

.label {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 20px;
    width: 33%;
    text-align: right;
}

.value {
    border-bottom-width: 2px;
    font-size: 20px;
    color: var(--primary-text-color);
    width: max-content;
    min-width: 100;
    text-align: center;
}

.field {
    width: 100%;
}

.container {
    width: 33%;
}
