<ns-action-bar [title]="'Shifts'" [showBackButton]="false"></ns-action-bar>

<StackLayout class="body">
    <Tabs #tabs [selectedIndex]="selectedTab" (selectedIndexChanged)="onIndexChanged($event)" tabsPosition="bottom">
        <TabStrip>
            <TabStripItem class="tab-strip-item">
                <Label text="Weekly" class="tab-strip-label"></Label>
            </TabStripItem>
            <TabStripItem class="tab-strip-item">
                <Label text="Non-Weekly" class="tab-strip-label"></Label>
            </TabStripItem>
        </TabStrip>

        <TabContentItem>
            <ns-weekly-shifts></ns-weekly-shifts>
        </TabContentItem>
        <TabContentItem>
            <ns-non-weekly-shifts></ns-non-weekly-shifts>
        </TabContentItem>
    </Tabs>

</StackLayout>
<StackLayout class="button-container">
    <GridLayout #fabButton class="fab-button" (tap)="onCreateShiftTap()">
        <Label text="+" class="plus-sign"></Label>
    </GridLayout>
</StackLayout>
