.picker-button {
    color: var(--primary-text-color);
    width: 80;
    height: 40;
    font-size: 16px;
    background-color: white;
    border-radius: 100;
}

.label {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 16px;
    width: 33%;
    text-align: right;
}

.value {
    border-bottom-width: 2px;
    font-size: 16px;
    color: var(--primary-text-color);
    border-bottom-color: var(--primary-text-color);
    width: 400px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-right: -1px;
}

.field {
    width: 100%;
    margin-top: 24px;
}

.container {
    width: 33%;
}

.text-area {
    border-color: var(--primary-text-color);
    border-width: 1;
    color: var(--primary-text-color);
    padding: 6;
    border-radius: 15;
}
