.month {
    padding: 24px;
}

.month-selector {
    background-color: var(--main-bg-color);
    width: 100%;
    color: var(--primary-text-color);
    margin-bottom: 24px;
}

.left {
    margin-top: 10px;
    margin-left: 48px;
    font-size: 24px;
    width: 100%;
}

.center {
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.right {
    margin-top: 10px;
    margin-right: 48px;
    font-Size: 24px;
    width: 100%;
    text-align: right;
}

.day-name-container {
    padding: 24px;
}

.day-name-label {
    color: var(--secondary-text-color);
    width: 100%;
    padding: 4px;
    margin-bottom: 8px;
    text-align: center;
    border-bottom-width: 2px;
}

.border-right {
    border-right-width: 2px;
}



.day-container {
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 8px;
}

