<ns-action-bar [title]="'Scheduling'" [showBackButton]="false"></ns-action-bar>

<StackLayout class="body month">
    <FlexboxLayout orientation="horizontal" horizontalAlignment="center" class="month-selector">
        <Label text="&#xf053;" class="fas left" (tap)="onPreviousMonthTap()"></Label>
        <Label [text]="nameOfMonth" class="center"></Label>
        <Label text="&#xf054;" class="fas right" (tap)="onNextMonthTap()"></Label>
    </FlexboxLayout>
    <FlexboxLayout orientation="horizontal" class="day-labels">
        <Label class="day-name-label border-right" text="Su"></Label>
        <Label class="day-name-label border-right" text="Mo"></Label>
        <Label class="day-name-label border-right" text="Tu"></Label>
        <Label class="day-name-label border-right" text="We"></Label>
        <Label class="day-name-label border-right" text="Th"></Label>
        <Label class="day-name-label border-right" text="Fr"></Label>
        <Label class="day-name-label" text="Sa"></Label>
    </FlexboxLayout>
    <ScrollView orientation="vertical">
        <StackLayout>
            <StackLayout orientation="vertical" *ngFor="let week of selectedMonth.weeks" class="week">
                <FlexboxLayout orientation="horizontal">
                    <StackLayout *ngFor="let day of week.days" class="day-container">
                        <ns-scheduling-day [day]="day" [monthNumber]="selectedMonthNumber" (onDayTap)="onDayTap($event)"></ns-scheduling-day>
                    </StackLayout>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>