<ScrollView orientation="vertical" class="body">
    <StackLayout>
        <StackLayout *ngFor="let shift of shifts" class="card" orientation="vertical" horizontalAlignment="center">
            <StackLayout class="row" verticalAlignment="top">
                <StackLayout horizontalAlignment="left" class="column">
                    <ns-text-field
                        horizontalAlignment="left"
                        readonly="true"
                        label="Date: "
                        [value]="shift.dayOfTheYear | date:'shortDate'">
                    </ns-text-field>
                </StackLayout>
            </StackLayout>
            <StackLayout class="row" verticalAlignment="top">
                <StackLayout horizontalAlignment="left" class="column">
                    <ns-text-field
                        horizontalAlignment="left"
                        readonly="true"
                        label="Staff: "
                        [value]="shift.employeeCount">
                    </ns-text-field>
                </StackLayout>
            </StackLayout>
            <StackLayout class="row" verticalAlignment="top">
                <StackLayout horizontalAlignment="left" class="column">
                    <ns-text-field
                        horizontalAlignment="left"
                        readonly="true"
                        label="From: "
                        [value]="shift.startTimeAsString + ' to ' + shift.endTimeAsString">
                    </ns-text-field>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>