/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";
/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/

/*
    This themes color variables.
*/

.ns-root {
    --primary-color: #8c9eff;
    --primary-light-color: #c0cfff;
    --primary-dark-color: #5870cb;
    --secondary-color: #ffcc80;
    --secondary-light-color: #ffffb0;
    --secondary-dark-color: #ca9b52;
    --primary-text-color: #36454F;
    --secondary-text-color: #61707b;
    --icon-color: #0f1e27;
    --main-bg-color: white;
    --success-color: #00C851;
    --warning-color: #ffbb33;
    --conflict-color: #ff4444;
}

/*
    End of the theme colors
*/

.far {
    font-family: Font Awesome 5 Free, fa-regular-400;
    font-weight: 400;
    color: var(--primary-text-color);
}

.fab {
    font-family: Font Awesome 5 Brands, fa-brands-400;
    font-weight: 400;
    color: var(--primary-text-color);
}

.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900;
    color: var(--primary-text-color);
}

.body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    width: 100%;
    height: 100%;
}

.card {
    box-shadow: 10px 10px 5px grey;
}

/*--------------Tabs--------------*/

.tab-strip-item {
    background-color: var(--primary-color);
}

.tab-strip-item:active {
    background-color:var(--primary-dark-color);
}

.tab-strip-item:active > .tab-strip-label {
    color: var(--primary-text-color);
}

.tab-strip-label {
    color: var(--secondary-text-color);
}

/*---------------Buttons-----------------*/

.primary-button {
    background-color: var(--success-color);
    border-radius: 20;
}
