<ns-action-bar [title]="'Edit Shift'" (back)="onBackAction()"></ns-action-bar>

<ScrollView class="body">
    <StackLayout orientation="vertical" class="form">
        <ns-drop-down-field
            label="Recurrence: "
            [items]="recurrenceTypesAsValueList"
            [(value)]="shift.recurrenceType"
            [(selectedIndex)]="selectedTypeIndex">
        </ns-drop-down-field>

        <ns-shift-date-picker
            *ngIf="isOnce || isEveryYear"
            label="Date: "
            modalTitle="Date Of Shift"
            [(date)]="shift.dayOfTheYear">
        </ns-shift-date-picker>

        <ns-drop-down-field
            *ngIf="isEveryWeek"
            label="Day: "
            [items]="daysOfWeek"
            [(selectedIndex)]="shift.dayOfWeek">
        </ns-drop-down-field>

        <ns-text-field
            *ngIf="isEveryMonth"
            label="Day Of Month: "
            [(value)]="shift.dayOfMonth"
            [keyboardType]="numberKeyboardType">
        </ns-text-field>

        <ns-shift-time-picker
            label="Start Time: "
            modalTitle="Start Time"
            [(shiftTime)]="shift.startTime">
        </ns-shift-time-picker>

        <ns-shift-time-picker
            label="End Time: "
            modalTitle="End Time"
            [(shiftTime)]="shift.endTime">
        </ns-shift-time-picker>

        <ns-text-field
            label="Staff Count: "
            [(value)]="shift.employeeCount"
            [keyboardType]="numberKeyboardType">
        </ns-text-field>

        <ns-text-area
            label="Notes"
            [(value)]="shift.notes">
        </ns-text-area>
        <StackLayout horizontalAlignment="center" class="button-container">
            <button text="Finish" (tap)="onSubmit()" class="button"></button>
        </StackLayout>
    </StackLayout>
</ScrollView>
