<ActionBar class="action-bar">
    <GridLayout columns="auto,*,auto">
        <GridLayout col="0" columns="auto,*,auto" class="outer-section" horizontalAlignment="left">
            <Label col="0" class="fas left-item button margin-right" text="&#xf0c9;" (tap)="onDrawerButtonTap()" horizontalAlignment="left" verticalAlignment="center"></Label>
            <Label *ngIf="showBackButton" col="1" class="fas left-item button" text="&#xf060;" (tap)="onBackButtonTap()" horizontalAlignment="left" verticalAlignment="center"></Label>
        </GridLayout>
        <Label col="1" class="center-item middle-section" text="{{title}}" horizontalAlignment="center" verticalAlignment="center"></Label>
        <GridLayout col="2" columns="auto,*,auto" class="outer-section" horizontalAlignment="right">
            <Label col="1" class="fas right-item button" text="&#xf013;" (tap)="onSettingsButtonTap()" horizontalAlignment="right" verticalAlignment="center"></Label>
        </GridLayout>
    </GridLayout>
</ActionBar>
