<ScrollView orientation="vertical" class="body">
    <StackLayout>
        <StackLayout *ngFor="let shift of shifts" class="card" orientation="horizontal">
            
            <StackLayout class="row">
                <StackLayout class="column" horizontalAlignment="left">
                    <ns-text-field
                        horizontalAlignment="left"
                        readonly="true"
                        label="Date: "
                        [value]="shift.dayOfTheYear | date:'shortDate'">
                    </ns-text-field>
                </StackLayout>
                <StackLayout class="column" horizontalAlignment="right">
                    
                </StackLayout>
            </StackLayout>
            <StackLayout class="row">
                <ns-text-field
                    horizontalAlignment="left"
                    readonly="true"
                    label="Date: "
                    [value]="shift.notes">
                </ns-text-field>
            </StackLayout>
            
                
            <ns-text-field
                horizontalAlignment="left"
                readonly="true"
                label="People: "
                [value]="shift.employeeCount">
            </ns-text-field>
        </StackLayout>
    </StackLayout>
</ScrollView>
