<StackLayout orientation="vertical" width="100%" backgroundColor="lightgray">
  <StackLayout orientation="horizontal">
    <Label text="bnjk" width="50" height="50" class="day"></Label>
  </StackLayout>
  <StackLayout orientation="horizontal">
    <Label text="jjkn" width="50" height="50" class="day"></Label>
  </StackLayout>
  <StackLayout orientation="horizontal">
    <Label text="dfcgv" width="50" height="50" class="day"></Label>
  </StackLayout>
  <StackLayout orientation="horizontal">
    <Label text="gfhgb jn" width="50" height="50" class="day"></Label>
  </StackLayout>
</StackLayout>