<StackLayout orientation="horizontal" horizontalAlignment="center" class="field">
    <Label
        verticalAlignment="center"
        class="label"
        [text]="label">
    </Label>
    <TextField
        verticalAlignment="center"
        [text]="value"
        class="value"
        borderColor="#36454F"
        (textChange)="onTextChanged($event.value)"
        [keyboardType]="keyboardType">
    </TextField>

    <!-- For Spacing -->
    <Label class="container">
        
    </Label>
</StackLayout>
