<ns-action-bar [title]="'Stores'" [showBackButton]="false"></ns-action-bar>


<ScrollView orientation="vertical" class="body">
    <StackLayout>
        <StackLayout *ngFor="let store of stores" orientation="vertical" width="100%">
            <StackLayout class="store-card" verticalAlignment="center" (tap)="onEditShiftTap(store.storeId)">
                <Label [text]="store.storeName" class="store-card-text" verticalAlignment="center"></Label>
                <Label [text]="store.storeAuthLevelMessage" class="store-card-text" verticalAlignment="center"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>


<StackLayout class="button-container">
    <GridLayout #fabButton class="fab-button" (tap)="onCreateShiftTap()">
        <Label text="+" class="plus-sign"></Label>
    </GridLayout>
</StackLayout>
