.week {
    text-align: center;
    height: 120px;
    margin-bottom: 16px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
    margin-left: 120px;
    color: var(--primary-text-color);
    background: linear-gradient(to right, var(--success-color) 0, var(--success-color) 33%, var(--warning-color) 33%, var(--warning-color) 66%, var(--conflict-color) 66%, var(--conflict-color) 100%);
}

.weeks-container {
    padding-top: 16px;
    padding-right: 16px;
}

.left {
    margin-top: 10px;
    margin-right: 30px;
    font-size: 24px;
}

.center {
    font-size: 24px;
}

.right {
    margin-top: 10px;
    margin-left: 30px;
    font-Size: 24px;
}
