<ns-action-bar [title]="store.storeName" (back)="onBackAction()"></ns-action-bar>

<StackLayout>
    <Tabs #tabs [selectedIndex]="selectedIndex" tabsPosition="bottom">
        <TabStrip>
            <TabStripItem class="tab-strip-item">
                <Label text="Detail" class="tab-strip-label"></Label>
            </TabStripItem>

            <TabStripItem class="tab-strip-item" *ngIf="showUsers">
                <Label text="Users" class="tab-strip-label"></Label>
            </TabStripItem>

            <TabStripItem class="tab-strip-item" *ngIf="showShifts">
                <Label text="Shifts" class="tab-strip-label"></Label>
            </TabStripItem>
        </TabStrip>

        <TabContentItem>
            <ns-store-detail [(store)]="store"></ns-store-detail>
        </TabContentItem>

        <TabContentItem *ngIf="showUsers">
            <ns-store-users [(store)]="store"></ns-store-users>
        </TabContentItem>

        <TabContentItem *ngIf="showShifts">
            <ns-store-shifts [userId]="user.userId" [storeId]="store.storeId"></ns-store-shifts>
        </TabContentItem>
    </Tabs>

</StackLayout>
