<ns-action-bar [title]="'New Shift'" (back)="onBackAction()"></ns-action-bar>

<ScrollView class="body">
    <StackLayout orientation="vertical" class="form" backgroundColor="white">
        <form #form="ngForm" (submit)="onSubmit()">
            <ns-shift-date-picker
                label="Date: "
                modalTitle="Date Of Shift"
                [(date)]="shift.dayOfTheYear">
            </ns-shift-date-picker>

            <ns-shift-time-picker
                label="Start Time: "
                modalTitle="Start Time"
                [(shiftTime)]="shift.startTime">
            </ns-shift-time-picker>

            <ns-shift-time-picker
                label="End Time: "
                modalTitle="End Time"
                [(shiftTime)]="shift.endTime">
            </ns-shift-time-picker>

            <ns-text-field
                label="Slave Count: "
                [(value)]="shift.employeeCount"
                [keyboardType]="numberKeyboardType">
            </ns-text-field>

            <ns-text-area
                label="Notes"
                [(value)]="shift.notes"
                [keyboardType]="textKeyboardType">

            </ns-text-area>
            <StackLayout horizontalAlignment="left" class="button-container">
                <button text="Add" (tap)="onSubmit()" class="button"></button>
            </StackLayout>
        </form>
    </StackLayout>
</ScrollView>
