<ns-action-bar [title]="'Account'" [showBackButton]="false"></ns-action-bar>

<ns-please-verify-your-email *ngIf="showVerifyAccountPage" (onCreateNewAccountTap)="onSignupTap()" (onBackToLoginTap)="onBackToLoginTap()"></ns-please-verify-your-email>
<ns-sign-up *ngIf="showSignUpPage && !showVerifyAccountPage" (onBackToLoginTap)="onBackToLoginTap()" (onAccountCreated)="onAccountCreated()"></ns-sign-up>
<ns-login *ngIf="showLoginPage && !showVerifyAccountPage" (onSignupTap)="onSignupTap()"></ns-login>

<StackLayout class="body" *ngIf="showSettingsPage" horizontalAlignment="center">
    <Label class="label" text="You are logged in as: "></Label>
    <Label class="label" [text]="user.email"></Label>
    <button text="Logout" (tap)="onLogoutTap()" class="logout-button button"></button>
</StackLayout>
