<StackLayout orientation="vertical" width="100%">
  <FlexboxLayout orientation="horizontal" horizontalAlignment="center" class="month-selector">
    <Label text="&#xf053;" class="fas left" (tap)="onPreviousMonthClick()"></Label>
    <Label [text]="nameOfMonth" class="center"></Label>
    <Label text="&#xf054;" class="fas right" (tap)="onNextMonthClick()"></Label>
  </FlexboxLayout>
  <FlexboxLayout orientation="horizontal" class="day-labels">
    <Label class="day-name-label" text="Su"></Label>
    <Label class="day-name-label" text="Mo"></Label>
    <Label class="day-name-label" text="Tu"></Label>
    <Label class="day-name-label" text="We"></Label>
    <Label class="day-name-label" text="Th"></Label>
    <Label class="day-name-label" text="Fr"></Label>
    <Label class="day-name-label" text="Sa"></Label>
  </FlexboxLayout>
  <StackLayout id="daySelectorDiv">
    <ns-month-day-selector [month]="month"></ns-month-day-selector>
  </StackLayout>

</StackLayout>
